.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.margin{
    margin-top: 10px;
}
.img2{
    width: 250px;
    border-radius: 10px;
}
.blockInfo{
    padding: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px ridge #3c95fc;
    background: linear-gradient(rgba(1, 106, 217, 0.97), #f8f8fa);
}
.white{
    color: #fffdfd;
}
.justify-content{
    justify-content: space-between;
}
.flex-end{
    align-items: flex-end;
}
.font-size {
    font-size: 16px;
    text-align: start;
}
.height{
    height: 60%;
}
